footer {
  padding:1.8rem 2.5rem;
  border-top:1px solid var(--border);
  background:var(--bg2);
  display:flex; justify-content:space-between; align-items:center;
  flex-wrap:wrap; gap:1rem;
}
.ft { font-family:var(--font-mono); font-size:.68rem; color:var(--muted); }
.ft span { color:var(--p400); }
